:root {
    --displayLeftOffset: 10%;
    --displayTopOffset: 8%;
    
    --keyPadsLeftOffset: 7%;
    --keyPadsTopOffset: 62%;
}


@font-face {
    font-family: 'led-8'; /*a name to be used later*/
    src: url('../fonts/LED-8.ttf') format('truetype');
}

@font-face {
    font-family: 'led-16'; /*a name to be used later*/
    src: url('../fonts/LED-16.woff');
}

@font-face {
    font-family: "RobotoMono";
    src: url('../fonts/RobotoMono-Regular.ttf');
}

@font-face {
    font-family: '7-segment'; /*a name to be used later*/
    src: url('../fonts/7-Segment.ttf'); /*URL to font*/
}

.spinner {
    position: relative;
    width: 50px;
    height: 50px;
    background-color: black;
}

#preloadFont {
    font-family: RobotoMono;
    font-size: x-small;
    color: #a3a3c2;
    background-color: #a3a3c2;
}

.MainDisplay {
    background-color: black;
    color: lawngreen;
    font-family: led-8;
    position: absolute;
    left:var(--displayLeftOffset);
    top:var(--displayTopOffset);
    width: 80%;
    height: 80%;
}

.NumKeyTable
{
    display: table;
    background-color: #a3a3c2;
    position: absolute;
    left: var(--keyPadsLeftOffset);
    top: calc(var(--keyPadsTopOffset) + 60px);
    width: 120px;
    height: 130px;
}

.NumKeyRow
{
    display: table-row;
}

.NumKeyCell
{
    display: table-cell;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.NumKey
{
    background-color: #34344c;
    font-family: RobotoMono;
    border: 2px solid #000000;
    border-radius: 50%;
    color: limegreen;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.AlphaKeyTable
{
    display: table;
    background-color: #a3a3c2;
    position: absolute;
    left: calc(var(--keyPadsLeftOffset) + 120px);
    top: var(--keyPadsTopOffset);
}

.AlphaKeyRow
{
    display: table-row;
}

.AlphaKeyCell
{
    display: table-cell;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.AlphaKey
{
    background-color: #34344c;
    border: 2px solid #000000;
    border-radius: 10px;
    font-family: led-16;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 40px;
}

.ArrowKeyTable
{
    display: table;
    background-color: #a3a3c2;
    position: absolute;
    left: var(--keyPadsLeftOffset);
    top: var(--keyPadsTopOffset);
    height: 60px;
}

.ArrowKeyRow
{
    display: table-row;
}

.ArrowKeyCell
{
    display: table-cell;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.ArrowKey
{
    background-color: #34344c;
    border: 2px solid #000000;
    border-radius: 10px;
    color: limegreen;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 50px;
}

.DisplayKeyRowTop
{

}

.DisplayKeyTable1
{
    display: table;
    background-color: #a3a3c2;
    position: absolute;
    left: 2%;
    top: 10%;
    height: 80%;
}

.DisplayKeyTable2
{
    display: table;
    background-color: #a3a3c2;
    position: absolute;
    left: 92%;
    top: 10%;
    height: 80%;
}

.DisplayKeyRow
{
    display: table-row;
}

.DisplayKeyCell
{
    display: table-cell;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.DisplayKey
{
    background-color: #34344c;
    border: 2px solid #000000;
    border-radius: 10px;
    color: limegreen;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 100%;
}
